body{
	margin: 0;
	padding: 0;
}

.playfield{
	display: flex;
	width: 100%;
	background-color: #4D4D4D;
}

table, td, tr{
	border: 4px solid white;
	border-collapse: collapse;
}

td{
	padding: 0px;
}

table{
	margin: 3.5vh auto;
	width: 53vh;
	height: 53vh;
	padding-bottom: 5vh;
}

@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px)
    and (device-width : 414px)
    and (device-height : 736px)
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 3) 
    and (-webkit-device-pixel-ratio : 3)
{ 
	table{
		margin: 3.5vh 2vh;
	}
}