body{
	margin: 0;
	padding: 0;
	background-color: #4D4D4D;
}

.playfield{
	width: 100%;
	background-color: #4D4D4D;
}

table{
	table-layout: fixed;
	border: 3px solid #FFFFFF;
	border-collapse: collapse;
	margin: 2vh 2vh;
}

table td{
	width: calc(96vw / 9);
	height: calc(90vw / 9);
	border: 3px solid #FFFFFF;
}
