body{
	margin: 0;
	padding: 0;
	background-color: #404040;
}

.playfield{
	width: 100%;
	background-color: #404040;
}

table{
	table-layout: fixed;
	border: 4px solid #FFFFFF;
	border-collapse: collapse;
	margin: 2.5vh 2vw;
}

table td{
	width: calc(98vw / 9);
	height: calc(94vw / 9);
	border: 4px solid #FFFFFF;
	padding:0;
}

.image{
	display: flex;
  	justify-content: center;
  	align-items: center;
}

img{
	width: 90%;
}

svg{
	position: relative;
}