* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #0E2A47;
}

button {
  background-color: #F4CA16;
  border-radius: 6px;
  border: none;
  color: #0C0A01;
  padding: 10px;
  text-transform: uppercase;
  height: 20vh;
  width: 50vw;
  cursor: pointer;
  font-size: 3em;
}
#placeholder {
  height: 20vh;
  width: 20vh;
  padding: 50px;
  margin: 5vh auto;
  background-color: #E8FFDA;
  border: 1px solid gray;
  border-radius: 10px;  
  font-size: 16em;
}
